@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DogsCareSystem.Models.Dto.CreateKennelDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <div class="navbar-container">
    </div>
    <div class="main-container">
      <section class="space-sm">
        <div class="container">
          <div class="row mb-5">
            <!--end of col-->
          </div>
          <!--end of row-->
          <div class="row flex-md-row card card-md">
            <div class="card-body bg-secondary">
              <div class="text-center mb-5">
                <h1 class="h2 mb-2">Данные о метоположении</h1>
              </div>
              <div class="row justify-content-center">
                <div class="col-6 col-lg-5">
                  <form method="post" asp-action="Create" enctype="multipart/form-data">
                   <input type="hidden" id="AppUserId" name="AppUserId" asp-for="KennelId" />
                   <div class="form-row form-group">
                     <div class="form-row form-group">
                       <div class="col">
                         <input asp-for="Name" class="form-control form-control-lg" placeholder="Наименование" />
                         <span asp-validation-for="Name" class="text-danger"></span>
                       </div>
                     </div>
                     <div class="form-row form-group">
                       <div class="col">
                         <input asp-for="Address" class="form-control form-control-lg" placeholder="Адрес"/>
                         <span asp-validation-for="Address" class="text-danger"></span>
                       </div>
                     </div>
                   </div>
                    
                    <div class="form-row form-group">
                      <div class="col">
                        <input asp-for="PhoneNumber" class="form-control form-control-lg" placeholder="Номер телефон" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="form-row form-group">
                      <div class="col">
                        <input asp-for="Email" class="form-control form-control-lg" placeholder="Почта"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="form-row form-group">
                      <div class="col">
                        <input asp-for="Image" type="file" class="form-control form-control-lg" placeholder="Image"/>
                        <span asp-validation-for="Image" class="text-danger"></span>
                      </div>
                    </div>
                    <div class="form-row form-group">
                      <div class="col">
                        <button class="btn btn-block btn-success btn-lg" type="submit">Создать</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end of container-->
      </section>
      <!--end of section-->
    </div>