@model Kennel;

<div class="container">
    
    <h1 class="my-4">
        <small>Отдел</small>
        <h3 class="my-3">@Model.Name</h3>
    </h1>

    <div class="row">
  
        @if (Model.Image == null)
                  {
                      <img class="img-fluid" src="Нет_изображения.png" alt="">
                  }
                  else
                  {
                      <div class="col-md-8">
                          <img class="img-fluid" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt="">
                      </div>
                  }
  
        <div class="col-md-4">
            <ul>
                <h4 class="my-3">Адрес</h4>
                <li>@Model.Address</li>
                <h4 class="my-3">Номер телефона</h4>
                <li>@Model.PhoneNumber</li>
                <h4 class="my-3">Почта</h4>
                <li>@Model.Email</li>
            </ul>
        </div>
    </div>
</div>